/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-nov-2020, 10:58:39
    Author     : espileto
*/

  body#login form{
      margin-top: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius:10px;
    }
   /* #login form label{
        color:white;
    }
    */
    
    form.asignatio{
        border:1px solid grey;
        border-radius: 10px;
    }
    
    form.asignatio .form-group{
        padding: 5px 10px;
    }
    
    input.fullwidth{
        width:100%!important;
        margin-bottom: 20px!important;
        
    }
    input.asign{
        width: 50px!important;
        flex:unset!important;
    }